.interact-control.fill-height.as-table.stf-device-control(ng-controller='DeviceControlCtrl')
  .as-cell.fill-height
    .as-table.fill-height
      .stf-vnc-navbar.as-row(ng-show='!$root.basicMode && !$root.standalone')
      //wen del
      //  
        .stf-vnc-control-header.as-cell
          .stf-vnc-right-buttons.pull-right
            .btn-group
              label.btn-sm.btn-primary-outline(type='button', ng-click='tryToRotate("portrait")',
              ng-model='currentRotation', uib-btn-radio='"portrait"',
              uib-tooltip='{{ "Portrait" | translate }} ({{ "Current rotation:" | translate }} {{ device.display.rotation }}°)', tooltip-placement='bottom').pointer
                i.fa.fa-mobile
              label.btn-sm.btn-primary-outline(type='button', ng-click='tryToRotate("landscape")',
                ng-model='currentRotation', uib-btn-radio='"landscape"',
              uib-tooltip='{{ "Landscape" | translate }} ({{ "Current rotation:" | translate }} {{ device.display.rotation }}°)', tooltip-placement='bottom').pointer
                i.fa.fa-mobile.fa-rotate-90
            .button-spacer
            button(type='button', ng-model='showScreen', uib-btn-checkbox).btn.btn-xs.btn-info
              i(ng-show='showScreen', uib-tooltip='{{"Hide Screen"|translate}}', tooltip-placement='bottom').fa.fa-eye
              i(ng-show='!showScreen', uib-tooltip='{{"Show Screen"|translate}}', tooltip-placement='bottom').fa.fa-eye-slash
            button(type='button', ng-click='kickDevice(device); $event.stopPropagation()', uib-tooltip='{{"Stop Using"|translate}}', tooltip-placement='bottom').btn.btn-sm.btn-danger-outline
              i.fa.fa-times

          .device-name-container.pull-left(uib-dropdown)
            a.stf-vnc-device-name.pointer.unselectable(uib-dropdown-toggle)
              p
                .device-small-image
                  img(ng-src='/static/app/devices/icon/x24/{{ device.image || "E30HT.jpg" }}')
                span.device-name-text {{ device.enhancedName }}
                span.caret(ng-show='groupDevices.length > 0')

            ul.dropdown-menu(role='menu', data-toggle='dropdown', ng-show='groupDevices.length > 0').pointer.unselectable
              li(ng-repeat='groupDevice in groupDevices')
                a.device-name-menu-element(ng-click='controlDevice(groupDevice); $event.stopPropagation()')
                  .pull-left
                    .device-small-image
                      img(ng-src='/static/app/devices/icon/x24/{{ groupDevice.image || "E30HT.jpg" }}')
                    span(ng-class='{"current-device": groupDevice.serial === device.serial }') {{ groupDevice.enhancedName }}

                  .pull-right(ng-click='kickDevice(groupDevice); $event.stopPropagation()').kick-device
                    i.fa.fa-times
                  .clearfix

      .as-row.fill-height
        div(ng-controller='DeviceScreenCtrl', ng-if='device').as-cell.fill-height
          div(ng-file-drop='installFile($files)', ng-file-drag-over-class='dragover').fill-height
            device-context-menu(device='device', control='control')
              device-screen(device='device', control='control')

      .stf-vnc-bottom.as-row(ng-hide='$root.standalone')
        .controls.as-cell
          .btn-group.btn-group-justified(ng-hide='isTV(device)')
            a(device-control-key='menu', title='{{"Menu"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-bars
            a(device-control-key='home', title='{{"Home"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-home
            a(device-control-key='back', title='{{"Back"|translate}}').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-mail-reply
          .btn-group.btn-group-justified(ng-hide='!isTV(device)')
            a(uib-tooltip='{{"Rewind"|translate}}', ng-click='press("media_rewind")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-fast-backward
            a(uib-tooltip='{{"Previous"|translate}}', ng-click='press("media_previous")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-step-backward
            a(uib-tooltip='{{"Play/Pause"|translate}}', ng-click='press("media_play_pause")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-youtube-play
            a(uib-tooltip='{{"Stop"|translate}}', ng-click='press("media_stop")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-stop
            a(uib-tooltip='{{"Next"|translate}}', ng-click='press("media_next")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-step-forward
            a(uib-tooltip='{{"Fast Forward"|translate}}', ng-click='press("media_fast_forward")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-fast-forward  
          .btn-group.btn-group-justified(ng-hide='!isTV(device)')
            a(uib-tooltip='1', ng-click='press("1")').btn.btn-primary.btn-lg.no-transition
              span 1
            a(uib-tooltip='2', ng-click='press("2")').btn.btn-primary.btn-lg.no-transition
              span 2
            a(uib-tooltip='3', ng-click='press("3")').btn.btn-primary.btn-lg.no-transition
              span 3
            a(uib-tooltip='{{"Channel Up"|translate}}', ng-click='press("CHANNEL_UP")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-chevron-up
            a(uib-tooltip='{{"Mute"|translate}}', ng-click='press("MUTE")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-volume-off
              i.fa.fa-close
            a(uib-tooltip='{{"Volume Up"|translate}}', ng-click='press("VOLUME_UP")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-plus
          .btn-group.btn-group-justified(ng-hide='!isTV(device)')
            a(uib-tooltip='4', ng-click='press("4")').btn.btn-primary.btn-lg.no-transition
              span 4
            a(uib-tooltip='5', ng-click='press("5")').btn.btn-primary.btn-lg.no-transition
              span 5
            a(uib-tooltip='6', ng-click='press("6")').btn.btn-primary.btn-lg.no-transition
              span 6
            a(uib-tooltip='{{"Channel Down"|translate}}', ng-click='press("CHANNEL_DOWN")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-chevron-down  
            a(uib-tooltip='{{"Up"|translate}}', ng-click='press("DPAD_UP")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-caret-up
            a(uib-tooltip='{{"Volume Down"|translate}}', ng-click='press("VOLUME_DOWN")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-minus
          .btn-group.btn-group-justified(ng-hide='!isTV(device)')
            a(uib-tooltip='7', ng-click='press("7")').btn.btn-primary.btn-lg.no-transition
              span 7
            a(uib-tooltip='8', ng-click='press("8")').btn.btn-primary.btn-lg.no-transition
              span 8
            a(uib-tooltip='9', ng-click='press("9")').btn.btn-primary.btn-lg.no-transition
              span 9
            a(uib-tooltip='{{"Left"|translate}}', ng-click='press("DPAD_LEFT")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-caret-left
            a(uib-tooltip='{{"Enter"|translate}}', ng-click='press("DPAD_CENTER")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-circle-o
            a(uib-tooltip='{{"Right"|translate}}', ng-click='press("DPAD_RIGHT")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-caret-right
          .btn-group.btn-group-justified(ng-hide='!isTV(device)')
            a(uib-tooltip='{{"Home"|translate}}', ng-click='press("HOME")').btn.btn-primary.btn-lg.no-transition
              span {{"Home"|translate}}
            a(uib-tooltip='0', ng-click='press("0")').btn.btn-primary.btn-lg.no-transition
              span 0
            a(uib-tooltip='{{"Settings"|translate}}', ng-click='press("SETTINGS")').btn.btn-primary.btn-lg.no-transition
              span {{"Settings"|translate}}
            a(uib-tooltip='{{"Menu"|translate}}', ng-click='press("MENU")').btn.btn-primary.btn-lg.no-transition
              span {{"Menu"|translate}}
            a(uib-tooltip='{{"Down"|translate}}', ng-click='press("DPAD_DOWN")').btn.btn-primary.btn-lg.no-transition
              i.fa.fa-caret-down
            a(uib-tooltip='{{"Back"|translate}}', ng-click='press("BACK")').btn.btn-primary.btn-lg.no-transition
              span {{"Back"|translate}}
